{% extends 'base.html.twig' %}

{% block title %}Edit Movies{% endblock %}

{% block body %}
    <div class="formHeadingContainer">
        <h1 class="formTitle">Add New Movie</h1>
    </div>

    {{ include('movies/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="deleteContainer">
    {{ include('movies/_delete_form.html.twig') }}
    </div>
{% endblock %}
